@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply font-body text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  button,
  p {
    @apply font-body;
  }

  h1 {
    @apply text-4xl font-semibold leading-tight;
  }

  h2 {
    @apply text-3xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug;
  }

  h4 {
    @apply text-xl font-semibold leading-relaxed;
  }

  h5 {
    @apply text-lg font-semibold leading-relaxed;
  }

  h6 {
    @apply text-lg font-semibold leading-relaxed;
  }

  p {
    @apply text-base leading-relaxed;
  }

  a {
    @apply text-base  underline;
  }

  ul,
  ol {
    @apply list-inside text-base;
  }
}

dialog {
  margin-top: 1rem;
}
/* dialog::backdrop {
  backdrop-filter: blur(1px);
} */
