@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --radius: 0.5rem;
  }
}

@layer base {
  /* * {
    @apply border-border;
  } */
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  * {
    @apply font-body text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-title;
  }

  button,
  p {
    @apply font-body;
  }

  h1 {
    @apply text-4xl font-semibold leading-tight;
  }

  h2 {
    @apply text-3xl font-semibold leading-snug;
  }

  h3 {
    @apply text-2xl font-semibold leading-snug;
  }

  h4 {
    @apply text-xl font-semibold leading-relaxed;
  }

  h5 {
    @apply text-lg font-semibold leading-relaxed;
  }

  h6 {
    @apply text-lg font-semibold leading-relaxed;
  }

  p {
    @apply text-base leading-relaxed;
  }

  a {
    @apply text-base  underline;
  }

  ul,
  ol {
    @apply list-inside text-base;
  }
}

dialog {
  margin-top: 1rem;
}
/* dialog::backdrop {
  backdrop-filter: blur(1px);
} */


@keyframes expanding {
  0% {
      transform: scaleX(0);
      opacity: 0;
  }
  100% {
      transform: scaleX(1);
      opacity: 1;
  }
}

/* This keyframe will create the loading gradient effect */
@keyframes moving {
  0% {
      background-position: 0 0;
  }
  100% {
      background-position: -200% 0;
  }
}

.loading-bar {
  height: 1.25rem;
  transform-origin: left; /* Without this, you'll notice the `expanding` animation starts expanding from the  middle instead of shooting out from the left */
  animation: expanding 0.4s 0.7s forwards linear, moving 1s 1s infinite forwards linear;
  border-radius: 0.925rem;
  background-image: linear-gradient(to right, theme('colors.primary.100') 30%, theme('colors.primary.500') 60%, theme('colors.primary.100'));
  background-size: 200% auto;
  opacity: 0; /* The `expanding` animation will fade in the loading bar */
  animation-delay: 100ms;
}